/Sycorax.tokens
/SycoraxBaseListener.java
/SycoraxBaseVisitor.java
/SycoraxLexer.java
/SycoraxLexer.tokens
/SycoraxListener.java
/SycoraxParser.java
/SycoraxVisitor.java
/Sycorax_vocab.g4
/Sycorax_vocab.java
/Sycorax_vocab.tokens
